{% extends 'base.html.twig' %}

{% block body %}

	<h1>Create Article</h1>

	<form action="" method="post">
		<input type="text" name="title" placeholder="Article Title">
		<br>
		<textarea name="content" placeholder="Article Content"></textarea>
		<br>
		<input type="text" name="image" placeholder="Article Image">
		<br>
		<button type="submit">Register</button>
	</form>

{% endblock body %}