{% extends 'base.html.twig' %}

{% block body %}
	<article>
		<h2>Title Article 1</h2>
		<div class="metadata">
			Write on 26/07/2019 at 10:05am Category Tuto
		</div>
		<div class="content">
			<img src="http://placehold.it/350X150" alt="">
			<p>I just Write my First Article</p>
			<p>& it's on practise Symf</p>
			<p>Make a Resume to read on page more ...</p>
		</div>
	</article>
{% endblock body %}